html,body {
    height: 250px;
    width:270px;
}
body {
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}
    .time {
        letter-spacing: 0.05em;
        font-size: 20px;
        
    }
    .date {
        letter-spacing: 0.1em;
        font-size:10px;
    }
img{
height:40px;
width: 40px;
}
#cl{
   top: 10px;
   width:50px;
   height: 50px;
}

.center {
display: table;
width: 100%;
height: 100vh;
}

#social-test {
vertical-align: middle;
text-align: center;
font-size: 30px;
}
h2 {
color: #fff;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-weight: 100;
}
.social {
padding-left: 0px;
}
li {
color: rgba(167, 146, 129, 0.6);
list-style-type: none;
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
padding: 1%;
cursor: pointer;
margin-bottom: 10px;
transition: ease .3s;
}
li:hover {
  color: rgba(167, 146, 129, 1);
}

.social:hover > li {
opacity: 0.5;
}
#close{
height:20px;
width: 20px;
}
.social:hover > li:hover {
opacity: 1;
}

.footer
{
color: whitesmoke;
margin-left: 40px;
margin-top:190px;
}